<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BKSmart</title>
    <link rel="stylesheet" href="~/css/layout.css" />
    @await RenderSectionAsync("Styles", required: false)
</head>
<body>
    <header class="main-header">
        <div class="logo-area">
            <img src="~/images/logo.png" alt="logo">
        </div>
        <nav class="main-nav">
            <a asp-controller="Home" asp-action="Index" class="active">Home</a>
            <a asp-controller="Home" asp-action="About">About</a>
            <a asp-controller="Home" asp-action="Contact">Contact</a>
        </nav>
    </header>

    <main role="main">
        @RenderBody()
    </main>

    <footer class="footer">
        <p>© Sistem BK copyright2025</p>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>