/* === GLOBAL BODY === */
body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', sans-serif;
    background-color: #fdfdfd;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

/* === MAIN CONTENT WRAPPER === */
main {
    flex: 1;
}

/* === HEADER === */
.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 60px;
    background-color: white;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
}

.main-nav a {
    margin-left: 20px;
    text-decoration: none;
    color: #555;
    padding: 10px 20px;
    border-radius: 25px;
    font-weight: 500;
    transition: background-color 0.3s ease;
}

    .main-nav a.active {
        background-color: #E3F2F2;
        color: #005A5A;
    }

/* === LANDING SECTION === */
.landing-section {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 60px 100px;
    box-sizing: border-box;
    flex: 1;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 80px;
    width: 100%;
    max-width: 1100px;
}

.text-content {
    flex: 1;
    max-width: 700px;
    max-height: 800px;
}

    .text-content h1 {
        font-family: 'Poppins', sans-serif;
        font-weight: 800;
        font-size: 100px;
        color: #2B8B92;
        margin-top: -20px;
        margin-bottom: 15px;
        margin-left: 30px;
    }

    .text-content .subtitle {
        font-family: 'Poppins', sans-serif;
        font-size: 24px;
        color: #818181;
        line-height: 1.5;
        font-weight: 800;
        margin-left: 35px;
        margin-right: -5px;
    }

    .text-content p {
        font-family: 'Poppins', sans-serif;
        font-size: 22px;
        color: #000000;
        line-height: 1.7;
        font-weight: 80;
        margin-left: 35px;
    }

.btn-getstarted {
    display: inline-block;
    margin-top: 30px;
    margin-left: 35px;
    padding: 14px 28px;
    background-color: #2B8B92;
    color: white;
    text-decoration: none;
    border-radius: 12px;
    font-weight: bold;
    transition: all 0.3s ease;
    box-shadow: 0px 5px 15px rgba(100, 165, 147, 0.4);
}

    .btn-getstarted:hover {
        background-color: #3c7e6e;
        transform: translateY(-2px);
        box-shadow: 0px 8px 20px rgba(100, 165, 147, 0.5);
    }

.image-content {
    flex: 1;
    display: flex;
    justify-content: center;
    margin-right: 10px;
}

    .image-content img {
        max-width: 500px;
        margin-right: -130px;
        height: auto;
    }

/* === FOOTER === */
.footer {
    color: #f2f2f2;
    background-color: #2B8B92;
    padding: 15px 20px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    width: 100%;
}